

h1 {
    color: rgb(41, 40, 40);
    text-align: left;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 29px;
}

p {
    text-align: center;
    text-align: left;
    font-size: 14px;
}
